/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Inconsolata", monospace;
  color: #2c2c54; }

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto; }

section {
  padding: 96px 0; }

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-color: inherit;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s; }

.btn:hover {
  background-position: 0 100%;
  color: #ffffff; }

.btn-one {
  border-color: #ffffff;
  color: #ffffff;
  background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%); }

.btn-one:hover {
  color: #0097e6; }

.btn-two {
  border-color: #33d9b2;
  color: #33d9b2;
  background-image: linear-gradient(90deg, #33d9b2 50%, transparent 50%); }

.btn-three {
  border-color: #ff5252;
  color: #ff5252;
  background-image: linear-gradient(90deg, #ff5252 50%, transparent 50%); }

.btn-four {
  border-color: #0097e6;
  color: #0097e6;
  background-image: linear-gradient(90deg, #0097e6 50%, transparent 50%); }

.btn-five {
  border: none;
  margin: 36px 0;
  padding: 0;
  text-align: left;
  color: #0097e6; }

.btn-five:hover {
  color: #33d9b2; }

.section-title {
  font-size: 48px;
  margin: 0 0 72px 0; }

.section-subtitle {
  font-size: 24px;
  margin: 0 0 12px 0; }

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

p {
  margin: 0; }

/* Navigation */
.navigation {
  background: #0097e6;
  padding: 12px 0; }

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.navigation li {
  display: inline-block;
  margin: 0 36px 0 0;
  position: relative; }

.navigation a {
  text-decoration: none;
  color: #ffffff; }

.navigation a:hover {
  color: #33d9b2; }

.navigation ul ul li {
  display: block;
  margin: 0 0 12px 0; }

.navigation ul ul {
  display: none;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 12px;
  text-align: center;
  position: absolute;
  background: #ffffff; }

.navigation li:hover ul {
  display: block; }

.navigation ul ul a {
  display: block;
  padding: 0 24px;
  color: #0097e6; }

/* Splash */
.splash {
  background: #0097e6;
  color: #ffffff;
  min-height: 500px;
  display: flex; }

.splash-inner {
  margin: auto;
  max-width: 70%; }

.page-title {
  margin: 0;
  font-size: 72px;
  word-spacing: -24px;
  font-weight: 700;
  line-height: 1.2; }

.page-subtitle {
  margin: 24px 0;
  font-weight: 300;
  font-size: 16px; }

.page-title span {
  font-family: 'Signika', sans-serif; }

/* Service */
.service .box {
  flex: 0 0 33.333%;
  position: relative;
  padding: 0 0 0 20px; }

.service span {
  font-family: 'Signika', sans-serif;
  font-size: 144px;
  line-height: 1;
  color: #33d9b2;
  opacity: 25%;
  position: absolute;
  top: -25px; }

.service p:first-of-type {
  font-weight: 700; }

/* Work */
.work .box {
  flex: 0 0 50%;
  position: relative;
  min-height: 300px;
  margin-bottom: 96px; }

.work .photo-container {
  max-width: 250px;
  height: 100%;
  position: relative; }

.work img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.work .description {
  padding: 36px 36px 36px 55%;
  position: absolute;
  top: 0; }

.work p:last-of-type {
  font-weight: 700; }

.work .photo-container::after {
  position: absolute;
  background: #33d9b2;
  opacity: 0.3;
  top: 20px;
  left: 20px;
  content: '';
  width: 100%;
  height: 100%; }

/* Contact */
.contact {
  background: #0097e6; }

.contact .section-title {
  color: #ffffff; }

form {
  flex: 2 0 0;
  padding-right: 96px; }

.contact-details {
  flex: 1 0 0; }

input, textarea {
  display: block;
  background: #0097e6;
  border: none;
  border-bottom: 4px solid #ffffff;
  padding: 10px;
  color: #ffffff;
  margin-bottom: 10px;
  width: 100%; }

input::placeholder, textarea::placeholder {
  color: #ffffff;
  font-family: 'Inconsolata', monospace; }

textarea {
  height: 120px; }

.contact h3 {
  color: #ffffff;
  font-size: 20px;
  margin: 20px 0 0 0; }

.contact h3:first-of-type {
  margin: 0; }

.contact p {
  color: #ffffff; }

/* Footer */
footer {
  margin: 48px 0; }

footer ul {
  text-align: center;
  height: 60px;
  padding: 0; }

footer li {
  display: inline-block;
  font-size: 0; }

footer i {
  font-size: 30px;
  background: #ff5252;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #ffffff;
  border-radius: 50%;
  position: relative; }

footer i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/* Media */
@media (max-width: 767px) {
  .wrapper {
    flex-direction: column; }

  .work .description {
    position: relative;
    max-width: 100%;
    height: 150px;
    padding: 36px 36px 36px 0; }

  .contact-details {
    margin-top: 70px; }

  .work .box {
    margin-bottom: 100px; }

  .work .box:last-of-type {
    margin-bottom: 70px; }

  .service .box {
    margin-bottom: 30px; }

  .work .photo-container {
    height: 150px; }

  .navigation ul {
    display: flex;
    justify-content: space-between; }

  .navigation li {
    margin: 0 2px 0 0; }

  .section-title {
    font-size: 30px;
    margin: 0 0 30px 0; }

  section {
    padding: 48px 0; }

  form {
    padding: 0; }

  .splash-inner {
    margin: 20px;
    max-width: 100%; }

  .page-title {
    margin: 60px 0 0 0;
    font-size: 60px;
    line-height: 1; }

  footer i {
    width: 50px;
    height: 50px; }

  .btn-five {
    margin: 12px 0 0 0; } }
@media (min-width: 768px) and (max-width: 991px) {
  .work .wrapper {
    flex-direction: column; }

  .work .photo-container {
    height: 150px; }

  .work .description {
    padding: 0 36px 0 55%; }

  .work .box {
    min-height: 200px;
    margin-bottom: 100px; }

  .work .box:last-of-type {
    margin-bottom: 0; }

  section {
    padding: 96px 0 30px 0; } }
